// Шрифты
$primary-font: 'Manrope', sans-serif;

$main-color: #18191f;
$main-color-hover: #8c30f5;

$footer-copyright-color: #d9dbe1;

$button-color: #ffffff;
$btn-color: #8c30f5;

$card-background: #ffffff;
// Цвета фонов секций
$advantages-background: #d5fafc;
$cti-background: #2ec5ce;
$footer-background: #0b0d17;
$button-hover-color: #5a03be;
