<section class="advantages">
    <div class="container advantages__flex">
        <div class="wrapper-left">
            <h2 class="advantages-title">Real Stories from Real Customers</h2>
            <p class="advantages-text">Get inspired by these stories.</p>
            <div class="hupspot-card">
                <a class="hupspot-card-link card-link__flex" href="">
                    <svg class="hupspot-card__svg card-svg__flex" width="140" height="40">
                        <use href="./images/sprite.svg#icon-company2"></use>
                    </svg>
                </a>
                <div class="inside-card-wrapper">
                    <h3 class="is-hidden">hupspot-card-first</h3>
                    <p class="hupspot-card-text card-text">To quickly start my startup landing page design, I was looking for a landing page UI Kit.
                        Landify is one of the best
                        landing page UI kit I have come across. It’s so flexible, well organised and easily editable.</p>
                    <h4 class="name-card-title">Floyd Miles</h4>
                    <p class="name-text">Vice President, GoPro</p>
                </div>
            </div>
        </div>
        <div class="wrapper-right">
            <div class="airbnb-card">
                <a class="airbnb-link card-link__flex" href="">
                    <svg class="airbnb-card__svg card-svg__flex" width="130" height="40">
                        <use href="./images/sprite.svg#icon-company1"></use>
                    </svg>
                </a>
                <div class="inside-card-wrapper">
                    <h3 class="is-hidden">airbnb-card-first</h3>
                    <p class="airbnb-card-text card-text">I used landify and created a landing page for my startup within a week. The Landify UI Kit is simple and highly
                    intuitive, so anyone can use it.</p>
                    <h4 class="name-card-title">Jane Cooper</h4>
                    <p class="name-text">CEO, Airbnb</p>
                </div>
            </div>
            <div class="bookshow-card">
                <a class="bookshow-link card-link__flex" href="">
                    <svg class="bookshow-card__svg .card-svg__flex" width="131" height="37">
                        <use href="./images/sprite.svg#icon-book-show"></use>
                    </svg>
                </a>
                <div class="inside-card-wrapper">
                    <h3 class="is-hidden">bookshow-card-first</h3>
                    <p class="bookshow-card-text card-text">Landify saved our time in designing my company page.</p>
                    <h4 class="name-card-title">Kristin Watson</h4>
                    <p class="name-text">Co-Founder, BookMyShow</p>
                </div>
               
            </div>
        </div>
    </div>
</section>