<section class="section-cti top-iphone low-iphone">
    <div class="container section-cti__wrapper">
        <div class="section-cti-left-wrapper">
            <h2 class="section-cti-title">Manage your projects from your mobile</h2>
            <p class="section-cti-text">Download the app to manage your projects, keep track of the progress and complete tasks without procastinating. Stay on
            track and complete on time!</p>
            <div class="section-cti-app-wrapper">
                <p class="section-cti-app__text">Get the App</p>
                <ul class="store section-cti-app__flex">
                    <li class="store-item">
                        <a class="store-link" href=""><svg class="store-svg" width="135" height="40">
                                <use href="./images/sprite.svg#icon-google-play"></use>
                            </svg></a>
                    </li>
                    <li class="store-item">
                        <a class="store-link" href=""><svg class="store-svg" width="135" height="40">
                                <use href="./images/sprite.svg#icon-app-store"></use>
                            </svg></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>