<section class="footer">
    <div class="container footer-wrapper">
        <div class="footer-left-wrapper">
            <a class="logo-link footer-logo" href="">
                <svg class="logo-svg footer-logo__svg" width="105" height="28">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
            </a>
            <ul class="footer-info">
                <li class="footer-info__item"><a class="footer-info__link" href="">Download Now</a></li>
                <li class="footer-info__item"><a class="footer-info__link" href="">License</a></li>
            </ul>
            <ul class="footer-nav">
                <li class="footer-nav__item"><a class="footer-nav__link" href="">About</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Features</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Pricing</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Careers</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Help</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="">Privacy Policy</a></li>
            </ul>
            <p class="copyright">&#169; 2022 Landify UI Kit. All rights reserved</p>
        </div>
        <div class="footer-app__wrapper">
            <p class="footer-app__text">Get the App</p>
            <ul class="footer-app__flex">
                <li class="footer-app__item">
                    <a class="footer-app__link" href="">
                        <svg class="store-svg" width="135" height="40">
                            <use href="./images/sprite.svg#icon-google-play"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-app__item">
                    <a class="footer-app__link" href="">
                        <svg class="store-svg" width="135" height="40">
                            <use href="./images/sprite.svg#icon-app-store"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>