<section class="logclouds">
    <div class="container logclouds-line">
        
        <ul class="company">
            <li class="company-item">
                <a class="company-link" href="">
                    <svg class="company-svg" width="89" height="28">
                        <use href="./images/sprite.svg#icon-company1"></use>
                    </svg>
                </a>
            </li>
            <li class="company-item">
                <a class="company-link" href="">
                    <svg class="company-svg" width="84" height="24">
                        <use href="./images/sprite.svg#icon-company2"></use>
                    </svg>
                </a>
            </li>
            <li class="company-item">
                <a class="company-link" href="">
                    <svg class="company-svg" width="84" height="28">
                        <use href="./images/sprite.svg#icon-company3"></use>
                    </svg>
                </a>
            </li>

            <li class="company-item">
                <a class="company-link" href="">
                    <svg class="company-svg" width="122" height="26">
                        <use href="./images/sprite.svg#icon-company4"></use>
                    </svg>
                </a>
            </li>
            <li class="company-item">
                <a class="company-link" href="">
                    <svg class="company-svg" width="111" height="26">
                        <use href="./images/sprite.svg#icon-company5"></use>
                    </svg>
                </a>
            </li>

            <li class="company-item">
                <a class="company-link" href="">
                    <svg class="company-svg" width="80" height="24">
                        <use href="./images/sprite.svg#icon-company6"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>