<section class="offer">
    <div class="container">
        <div class="offer-text-wrapper">
            <h2 class="offer-title">Enter the world of all fashion trends</h2>
            <p class="offer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis scelerisque at quam congue posuere libero in sit
            quam. Consequat, scelerisque non tincidunt sit lectus senectus.</p>
        </div>
        <picture>
            <source srcset="./images/offer/imgcover1x.jpg 1x, ./images/offer/imgcover2x.jpg 2x"
                media="(min-width:1400px)">
            <img src="./images/offer/imgcover1x.jpg" alt="phone-mockup1x" width="1110" height="400">
        </picture>
    </div>
</section>