<section class="product"> 
    <div class="container product-wrapper">
        <div class="product-left-wrapper">
            <h2 class="is-hidden">Product Headline</h2>
            <picture>
                <source srcset="./images/product/phone-mockup1x.jpg 1x, ./images/product/phone-mockup2x.jpg 2x"
                    media="(min-width:1400px)">
                <img src="./images/product/phone-mockup1x.jpg" alt="phone-mockup1x" width="540" height="540">
            </picture>
        </div>
       
        <div class="product-right-wrapper">
            <h3 class="product-title">Headline</h3>
            <p class="product-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Condimentum diam orci pretium a pharetra, feugiat cursus.
            Dictumst risus, sem egestas odio cras adipiscing vulputate. Nisi, risus in suscipit non. Non commodo volutpat, pharetra,
            vel.</p>
            <button type="button" class="product-btn">Get started
                <svg class="button__svg" width="22" height="14">
                    <use href="./images/sprite.svg#icon-arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</section>