<section class="reviews">
    <div class="container">
        <h2 class="reviews-title">Tailor-made features</h2>
        <p class="reviews-text">Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation.</p>
        <ul class="feature">
            <li class="feature-item">
                <div class="wrapper-svg">
                    <svg class="feature__svg" width="32" height="32">
                        <use href="./images/sprite.svg#icon-feature1"></use>
                    </svg>
                </div>
                <h3 class="feature-title">icon-first</h3>
                <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </li>
            <li class="feature-item">
                <div class="wrapper-svg">
                    <svg class="feature__svg" width="32" height="32">
                        <use href="./images/sprite.svg#icon-feature2"></use>
                    </svg>
                </div>
                <h3 class="feature-title">icon-first</h3>
                <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </li>
            <li class="feature-item">
                <div class="wrapper-svg">
                    <svg class="feature__svg" width="32" height="32">
                        <use href="./images/sprite.svg#icon-feature3"></use>
                    </svg>
                </div>
                <h3 class="feature-title">icon-first</h3>
                <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </li>
            <li class="feature-item">
                <div class="wrapper-svg">
                    <svg class="feature__svg" width="32" height="32">
                        <use href="./images/sprite.svg#icon-feature4"></use>
                    </svg>
                </div>
                <h3 class="feature-title">icon-first</h3>
                <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </li>
            <li class="feature-item">
                <div class="wrapper-svg">
                    <svg class="feature__svg" width="32" height="32">
                        <use href="./images/sprite.svg#icon-feature5"></use>
                    </svg>
                </div>
                <h3 class="feature-title">icon-first</h3>
                <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </li>
            <li class="feature-item">
                <div class="wrapper-svg">
                    <svg class="feature__svg" width="32" height="32">
                        <use href="./images/sprite.svg#icon-feature6"></use>
                    </svg>
                </div>
                <h3 class="feature-title">icon-first</h3>
                <p class="feature-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed erat nibh tristique ipsum.</p>
            </li>
        </ul>
    </div>
</section>