.hero {
  padding-bottom: 58px;
}
.hero-wrapper {
  background-image: url(../images/hero/hero1x.jpg);
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  display: flex;
}
.logo-link {
  padding: 22px 0;
  margin-right: 32px;
}

.site-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-nav-item {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;

  font-feature-settings: 'liga' off;
  color: $main-color;
}

.site-nav-item:not(:last-child) {
  margin-right: 32px;
}
.site-nav-link {
  padding: 26px 0;
  transition: color 1450ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: $main-color-hover;
  transition: color 1450ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-btn {
  display: flex;
  align-items: center;
}
.button-nav {
  margin-left: 4px;
  border: none;
  background: transparent;
  padding: 10px 0;
  cursor: pointer;
}
.button-nav__svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.store {
  display: flex;
  justify-content: center;
  align-items: center;
}
.store-item:not(:last-child) {
  margin-right: 13px;
}
.store-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}
.store-svg {
  transition: fill 1450ms cubic-bezier(0.4, 0, 0.2, 1);
}
.store-svg:hover,
.store-svg:focus {
  fill: #5a03be;
  transition: fill 450ms cubic-bezier(0.4, 0, 0.2, 1);
}
//======================================
.wrapper-title {
  display: flex;
}
.title {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 1.36;
  font-feature-settings: 'liga' off;
  color: $main-color;
  max-width: 730px;
  margin-top: 194px;
  margin-bottom: 32px;
  margin-right: 45px;
}
.title-btn {
  font-family: $primary-font;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  font-feature-settings: 'liga' off;
  color: $button-color;
}
.wrapper-title-right {
  margin-top: 112px;
  position: relative;
}
.image-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 86%;
  height: 87%;
}
