.logclouds {
  padding: 56px 0;
  position: relative;
}
.company {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.company::before,
.company::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
  @media screen and (min-width: 1200px) {
    width: 1110px;
    height: 1px;
  }
}
.company::before {
  top: 10%;
}
.company::after {
  bottom: 10%;
}
.company-item {
  max-width: 125px;
  flex-basis: calc((100% + 30px) / 2);
  margin-left: 30px;
  margin-bottom: 30px;
}
.company-item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 64px;
  }
}

.company-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
